.idea
.svn
*.iml
*.pyc
util/.svn
build
dist
pyLibrary.egg-info
*.tab

/examples

/docs/~$Libraries.pptx
/pyLibrary/vendor/sqlite
/this is a test file.sqlite
/*.sqlite-journal
/*.sqlite
/tests/test_mysql/resources
